:root {
    --aisuColor: #5A79BA;
    --naoColor:#EFA5AF;
    --shizuColor:#FFE14D;

    --aisuBG:#C1E7FF;
    --naoBG:#F7D4D9;
    --shizuBG:#FFFBB8;    
}

html{
    font-size:24px;
    line-height: 1.5;
    scroll-behavior: smooth;    
}

html, body{
    max-width: 100%;
    overflow-x: clip;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    position: relative;
}

@media only screen and (max-width: 991px){
    html{
        font-size:16px;
    }
}


.stop-scrolling {
    height: 100%;
    overflow-y: hidden !important;
}


h1,h2,h3,h4,h5{
    font-weight: 800;
}

a{
    color:rgb(239,165,175);
    transition: 0.2s;
}
a:hover{
    color:rgb(98,117,176);
    text-decoration: none;
}